@media only screen and (max-width: 1920px) and (min-width: 1445px) {
	.container {
		max-width: 1380px;
	}
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1445px) {
	html {
		font-size: 15px;
	}

	.header-main__logo h3,
	.footer_logo a h3 {
		font-size: 2.125rem;
	}

	.header-main__nav .nav-item .nav-link {
		padding: .5em;
	}

	.main-banner {
		height: 900px;
	}

	.main-banner__content h1,
	.inner-banner__content h1 {
		font-size: 5rem;
	}

	.main-banner__content h4 {
		font-size: 1.125rem;
	}

	.main-banner__img img,
	.about-img img {
		width: 100%;
	}

	.banner_card {
		padding: 1.125rem;
		min-height: 300px;
	}

	.banner_card_img {
		width: 90px;
	}

	.banner_card_img img {
		width: 70px;
	}

	.banner_card_content h4 {
		font-size: 1.65rem;
	}

	.mainHeading {
		font-size: 3rem;
	}

	.review_card_content p {
		height: 80px;
	}

	.client_img img {
		width: 60px;
		min-height: 60px;
	}

	.review_card_client .quote i {
		font-size: 2.125rem;
	}

	.trailer-video .mainHeading {
		font-size: 2.25rem;
	}

	.newsletter_main {
		padding: 1.5rem;
	}

	.footer h4 {
		font-size: 1.45rem;
	}
}

@media only screen and (max-width: 1366px) {
	html {
		font-size: 14px;
	}

	.preloader h5 {
		font-size: 2.75rem;
	}

	.preloader .counter {
		font-size: 8rem;
	}

	.preloader .counter span:last-child {
		font-size: 4rem;
	}

	.themeBtn {
		padding: 0.75em 2em;
	}

	.banner_card {
		min-height: 290px;
	}

	.mainHeading {
		font-size: 2.85rem;
	}

	.inner-banner {
		height: 550px;
	}
}

@media (max-width: 1199.98px) {
	html {
		font-size: 13px;
	}

	.header-main__logo h3,
	.footer_logo a h3 {
		font-size: 2rem;
	}

	.main-banner {
		height: 800px;
	}

	.main-banner__content h1,
	.inner-banner__content h1 {
		font-size: 4.85rem;
	}

	.banner_card_img {
		width: 80px;
	}

	.banner_card_img img {
		width: 60px;
	}

	.banner_card_content h4 {
		font-size: 1.5rem;
	}

	.mainHeading {
		font-size: 2.75rem;
	}

	.trailer-video .mainHeading {
		font-size: 2rem;
	}

	.contact-info a span,
	.footer_info .contact-info a span {
		width: 60px;
		min-height: 60px;
		font-size: 1.5rem;
	}

	.footer_info .contact-info a div h4 {
		font-size: 1.25rem;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 12px;
	}

	.header .navbar-toggler {
		background: var(--primary);
		border-color: var(--primary);
		color: var(--white);
		outline: none;
	}

	.header .navbar-collapse {
		padding: 1rem;
	}

	.main-banner {
		height: 620px;
	}

	.main-banner__content h1,
	.inner-banner__content h1 {
		font-size: 4.125rem;
	}

	.banner_card {
		min-height: 250px;
	}

	.subHeading {
		font-size: 1.125rem;
	}

	.themeBtn {
		padding: 0.75em 1.5em;
	}

	.contact-section {
		padding: 6rem 0 12rem;
	}

	.contact-info a span,
	.footer_info .contact-info a span {
		width: 50px;
		min-height: 50px;
	}

	.footer_social li a {
		width: 36px;
		min-height: 36px;
	}

	.footer_links li {
		padding-left: 2.125rem;
	}

	.footer_links li::before {
		width: 18px;
		min-height: 18px;
		font-size: 10px;
	}

	.inner-banner {
		height: 450px;
	}
}

@media (max-width: 767.98px) {
	html {
		font-size: 11px;
	}

	section {
		padding: 4rem 0;
	}

	.mouse-cursor {
		display: none;
	}

	.preloader h5 {
		font-size: 2.5rem;
	}

	.preloader h5 span {
		font-size: 1.125rem;
	}

	.main-banner {
		height: auto;
	}

	.main-banner__content,
	.about-content,
	.footer * {
		text-align: center;
	}

	.main-banner__content h4 {
		margin: 0;
	}

	.main-banner__img img {
		width: 50%;
		margin: 3rem 0 0;
	}

	.main-banner__cards {
		margin: 3rem 0 -12rem;
	}

	.banner_card_content h4 {
		font-size: 1.375rem;
	}

	.banner_card {
		min-height: 260px;
	}

	.about-section {
		padding: 11rem 0 5rem;
	}

	.about-section .row {
		flex-direction: column-reverse;
	}

	.about-content .themeBtn {
		margin: 0 auto;
	}

	.about-img img {
		display: block;
		width: 60%;
		margin: 2rem auto 0;
	}

	.mainHeading {
		font-size: 2.5rem;
	}

	.review-section {
		padding: 5rem 0 6rem;
	}

	.client_img img {
		width: 50px;
		min-height: 50px;
	}

	.client_text h3 {
		font-size: 1.125rem;
	}

	.contact-section {
		padding: 6rem 0 8rem;
	}	

	.newsletter_main {
		padding: 1.25rem;
		box-shadow: unset;
	}

	.footer {
		padding: 15rem 0 0;		
	}

	.footer_social {
		margin: 1rem 0 0;
	}

	.footer_social,
	.footer_info .contact-info a {
		justify-content: center;
	}

	.footer h4 {
		font-size: 1.375rem;
		margin: 1.5rem 0;
	}

	.footer_links li {
		width: fit-content;
		margin-inline: auto !important;
	}

	.copyright {
		margin: 4rem 0 0;
	}

	.inner-banner {
		height: 350px;
	}

	.inner-banner__content h1 {
		font-size: 3.75rem;
	}

	.about-inner {
		padding: 4rem 0 14rem;
	}

	.blog-section {
		padding: 4rem 0 10rem;
	}

	.contactForm {
		padding: 1.75rem;
		margin: 2rem 0 0;
	}
}

@media (max-width: 575.98px) {

	.header-main__logo h3,
	.footer_logo a h3 {
		font-size: 1.85rem;
	}

	body,
	.main-banner,
	.review-section,
	.article-section,
	.contact-section {
		background-attachment: unset;
	}

	.main-banner__content h1 {
		font-size: 4rem;
	}

	.banner_card {
		min-height: auto;
	}

	.mainHeading {
		font-size: 2.125rem;
	}

	.about-img img {
		width: 64%;		
	}

	.review_card {
		padding: 1.25rem;
	}

	.review_card_content p {
		height: 60px;
		margin: 1rem 0;
	}

	.contact-section {
		padding: 8rem 0 14rem;
	}

	.newsletter-section {
		margin-top: -14rem;
	}

	.newsletterForm {
		flex-wrap: wrap;
	}

	.newsletter_text .mainHeading {
		font-size: 1.5rem;
	}

	.newsletterForm input,
	.newsletterForm .themeBtn {
		width: 100%;
	}

	.newsletterForm input {
		padding: 0.65rem 1rem;
	}

	.contact-info a span,
	.footer_info .contact-info a span {
		width: 40px;
		min-height: 40px;
	}

	.footer_social li a {
		width: 30px;
		min-height: 30px;
	}

	.inner-banner {
		height: 250px;
	}

	.inner-banner__content h1 {
		font-size: 3.125rem;
		margin-top: 2rem;
	}

	.about-inner {
		padding: 3rem 0 18rem;
	}

	.blog_card_img img {
		aspect-ratio: 21 / 9;
	}

	.contactForm {
		padding: 1.5rem;
	}
}

@media (max-width: 440.98px) {
	.preloader h5 {
		font-size: 2.125rem;
	}

	.preloader .counter {
		font-size: 7rem;
	}

	.preloader .counter span:last-child {
		font-size: 3rem;
		margin-left: 0.25rem;
	}

	.main-banner__content h1 {
		font-size: 3.75rem;
	}

	.mainHeading {
		font-size: 2rem;
	}

	.btn-group {
		justify-content: center;
	}

	.header-main__logo h3,
	.footer_logo a h3 {
		font-size: 1.75rem;
	}

	.banner_card_img {
		width: 60px;
	}

	.banner_card_img img {
		width: 50px;
	}

	.contact-info a h4 {
		font-size: 1.45rem;
	}

	.inner-banner__content h1 {
		font-size: 2.75rem;
		margin-top: 3rem;
	}
}

@media (max-width: 320.98px) {}